.container {
    margin: auto;
    padding: 0 145px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.text {

    font-family: var(--font-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 5%;
    color: var(--color-text);
}

.arrow {
    font-size: 23px;
    color: var(--color-data-tag);
}