* {
    /* Reset CSS */
    padding: 0;
    margin: 0;

}

:root {
    /* Fonts */
    --main-font: "Mada", sans-serif;
    --color-text: #20519b;
}

.container {
    max-width: 1319px;
    margin: auto;
}


.section-name {
    padding: 85px 0;
}

.container.section-name__container {
    display: flex;
    align-items: center;

}

.section-name__content {
    max-width: 535px;

}

/*  */
.image.section-name__item {
    max-width: 400px;
}

.title {

    margin: auto;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 44px;
    line-height: 63px;
    color: var(--color-text);
    margin-bottom: 61px;
}

.button {
    display: flex;
    max-width: 240px;

    background-color: #20519B;
    color: white;


    padding: 19px 75px 19px 75px;
    border-radius: 30px;
}