// .block-about-us__block {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     gap: 28px;
// }

// display: grid;
// grid-template-columns: repeat(1, 1fr);
// grid-template-rows: repeat(2, 1fr);
// gap: 28px;


// .block-about-us__card {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(2, 2fr);
//     gap: 20px;
// }


.block-about-us-img_1 {
    background: url(/images/photo_1.png);
    grid-column: span 2;
}

.block-about-us-img_2 {
    background: url(/assets/images/photo_2.png) center center / cover;
}

.block-about-us-img_3 {
    background: url(/assets/images/photo_2.1.png), center center / cover;
}