.menu__container {
    padding: 10px 30px 40px 30px;

}

.menu__content {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 222px;
    background-color: yellow;
    // background-color: var(--color-white);
    border-radius: 160px;
    padding: 18px 10px 18px 10px;
}