.program-courses__content {
    display: grid;
    grid-template-rows: repeat(1fr, 1fr);
    gap: 30px;
}

.horizintal-border {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0 20px 0;

    .text-page {
        font-family: var(--font-nav);
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        vertical-align: middle;
        color: var(--color-red);
    }
}

.block {
    display: grid;
    grid-template-rows: repeat(1fr, 1fr);
    gap: 60px;


    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 480px;


        .title {
            font-family: var(--font-logo);
            font-weight: 500;
            font-size: 80px;
            line-height: 80px;
            letter-spacing: -2%;
            vertical-align: middle;
            text-transform: uppercase;
            color: var(--colot-black);

        }

        .icon-offline {
            position: relative;
            top: 27px;
            left: -645px;

        }
    }

    .text {
        font-family: var(--font-nav);
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 150%;
        color: var(--colot-black);

        max-width: 440px;
        max-height: 180px;

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        z-index: 1;

    }
}