.special-offer {

    &__container {
        padding-left: 0;
    }

    &__content {
        background: url(/assets/images/backgr-popup.png)center/cover no-repeat;
        border-top-right-radius: 160px;
        border-bottom-right-radius: 160px;

        padding: 115px 115px 101px 120px;
        flex-grow: initial;

        .special-offer__main {
            color: var(--color-white);

            .sub-title {
                font-family: var(--font-nav);
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;

                text-transform: lowercase;

            }

            .title {
                font-family: var(--font-logo);
                font-weight: 500;
                font-size: 56px;
                line-height: 100%;
                letter-spacing: -2%;
                vertical-align: middle;
                text-transform: uppercase;

                margin-bottom: 184px;
            }

            .countdown {
                font-size: 48px;
                font-weight: bold;
                font-family: var(--font-nav);
                font-weight: 400;

                line-height: 100%;

                vertical-align: middle;
                text-transform: uppercase;

            }

        }
    }


}

// style sale-card

.special-offer__frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;


    .from {
        display: grid;
        gap: 30px;
        max-width: 324px;
        max-height: 452px;


        background-color: var(--color-white);
        padding: 40px;
        border-radius: 45px;

        .text-special-offer {

            font-family: var(--font-nav);
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;



        }

    }
}

.text-special {
    font-family: var(--font-nav);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);
    text-transform: lowercase;

    border-radius: 100px;

    & b {
        font-size: 38px;
        line-height: 100%;
    }

    & s {
        font-weight: 500;
        font-size: 16px;
        text-decoration: line-through;
    }
}



// animation

.special-offer {
    clip-path: inset(0 0 100% 0);
    animation: slideIn 1.1s ease-out forwards;


    @keyframes slideIn {
        from {
            clip-path: inset(0 0 100% 0);

        }

        to {
            clip-path: inset(0 0 0 0);
        }
    }
}