@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-red: #CE091E;
  --color-white: #FFFFFF;
  --color-black: #121212;
  --color-gray: #12121280;
}

:root {
  --font-logo: "Cormorant Garamond", serif;
  --font-nav: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.container {
  padding: 0 40px 0 40px;
  margin: 60px 0 60px 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 767px) {
  .container {
    padding: 0;
    margin: 0;
  }
  .content {
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 16px;
  }
}
.logo__name {
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 24px;
  line-height: 90%;
  color: var(--color-red);
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
}

.logo__img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  text-decoration: none;
}

.menu__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.menu__nav-item {
  list-style-type: none;
}
.menu__nav-link {
  font-family: var(--font-nav);
  color: var(--color-black);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.menu__nav-link:hover {
  color: var(--color-red);
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 48px;
  background-color: var(--color-red);
  border-radius: 100px;
  cursor: pointer;
}

.button {
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  font-family: var(--font-nav);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.menu__button:hover {
  animation: tilt 0.5s ease-in-out infinite;
}
.menu__button:hover button:hover {
  transform: scale(1.1);
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg) translateY(-2px);
  }
  50% {
    transform: rotate(-1deg) translateY(2px);
  }
  75% {
    transform: rotate(-1deg) translateY(-2px);
  }
  100% {
    transform: rotate(0deg);
  }
}
.row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img__card {
  max-width: 440px;
  max-height: 440px;
  border-radius: 160px;
  margin-bottom: 32px;
}

.course-name {
  display: grid;
  grid-template-rows: repeat(1fr);
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.course-name .text-course {
  text-align: center;
  font-family: var(--font-nav);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray);
}
.course-name .text-course-name {
  text-align: center;
  font-family: var(--font-nav);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  vertical-align: middle;
  color: var(--colot-black);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 32px;
}
.buttons .program-courses__menu-button {
  background-color: var(--color-white);
  border: 1px solid #CE091E;
}
.buttons .program-courses__menu-button .button {
  background-color: var(--color-white);
  color: var(--color-red);
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1380px;
  border-radius: 160px;
  background-color: var(--color-white);
  margin: 10px 30px 42px 30px;
  padding: 10px 17px 10px 17px;
}

.header {
  max-width: 1440px;
  margin-top: 180px;
}
.header__image {
  max-width: 324px;
  max-height: 560px;
  border-radius: 160px;
}
.header__main {
  background: url(/assets/images/dirtybarn-gradient_16_2.png) center/cover no-repeat;
  flex-grow: initial;
  width: 77%;
  border-top-left-radius: 160px;
  border-bottom-left-radius: 160px;
}
.header__text-with-button {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 30px;
  margin: 120px 548px 66px 172px;
}
.header__text-with-button .header__sub-title {
  font-family: var(--font-nav);
  color: var(--color-white);
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}
.header__text-with-button .header__title {
  font-family: var(--font-logo);
  font-weight: 500;
  font-size: 96px;
  line-height: 90%;
  letter-spacing: -3%;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--color-white);
}
.header__text-with-button .header__button {
  background-color: var(--color-white);
  color: var(--color-red);
}
.header__rectangle {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}
.header__rectangle .header__img-rectangl {
  min-width: 574px;
  height: 126px;
}
.header__rectangle .header__location {
  color: var(--color-white);
  font-family: var(--font-nav);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.header__main {
  clip-path: inset(0 0 100% 0);
  animation: slideIn 1.2s ease-out forwards;
}
@keyframes slideIn {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@media (max-width: 767px) {
  .header {
    display: grid;
    max-width: 344px;
    margin-top: 72px;
  }
  .header__image {
    max-width: 272px;
    max-height: 382px;
    border-radius: 180px;
  }
  .header__main {
    min-width: 344px;
    border-radius: 40px;
    flex-grow: initial;
  }
  .header__text-with-button {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 4px;
    margin: 38px 48px 38px 48px;
  }
  .header__text-with-button .header__sub-title {
    line-height: 16px;
    font-size: 12px;
  }
  .header__text-with-button .header__title {
    font-size: 48px;
    letter-spacing: -3%;
  }
  .header__text-with-button__rectangle {
    display: grid;
    opacity: 0;
  }
  .header__text-with-button__rectangle .header__img-rectangl {
    display: none;
  }
  .header__text-with-button__rectangle .header__location {
    font-size: 12px;
    line-height: 16px;
  }
}
.program-courses__content {
  display: grid;
  grid-template-rows: repeat(1fr, 1fr);
  gap: 30px;
}

.horizintal-border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.horizintal-border .text-page {
  font-family: var(--font-nav);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  color: var(--color-red);
}

.block {
  display: grid;
  gap: 60px;
}
.block .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 480px;
}
.block .info .title {
  font-family: var(--font-logo);
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -2%;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--colot-black);
}
.block .info .icon-offline {
  position: relative;
  top: 27px;
  left: -645px;
}
.block .text {
  font-family: var(--font-nav);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: var(--colot-black);
  max-width: 440px;
  max-height: 180px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.special-offer__containet {
  padding-left: 0;
}
.special-offer__content {
  background: url(/assets/images/backgr-popup.png) center/cover no-repeat;
  border-top-right-radius: 160px;
  border-bottom-right-radius: 160px;
  padding: 115px 115px 101px 120px;
  flex-grow: initial;
}
.special-offer__content .special-offer__main {
  color: var(--color-white);
}
.special-offer__content .special-offer__main .sub-title {
  font-family: var(--font-nav);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: lowercase;
}
.special-offer__content .special-offer__main .title {
  font-family: var(--font-logo);
  font-weight: 500;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  text-transform: uppercase;
  margin-bottom: 184px;
}
.special-offer__content .special-offer__main .countdown {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--font-nav);
  font-weight: 400;
  line-height: 100%;
  vertical-align: middle;
  text-transform: uppercase;
}

.special-offer__frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.special-offer__frame .from {
  display: grid;
  gap: 30px;
  max-width: 324px;
  max-height: 452px;
  background-color: var(--color-white);
  padding: 40px;
  border-radius: 45px;
}
.special-offer__frame .from .text-special-offer {
  font-family: var(--font-nav);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.text-special {
  font-family: var(--font-nav);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
  text-transform: lowercase;
  border-radius: 100px;
}
.text-special b {
  font-size: 38px;
  line-height: 100%;
}
.text-special s {
  font-weight: 500;
  font-size: 16px;
  text-decoration: line-through;
}

.special-offer {
  clip-path: inset(0 0 100% 0);
  animation: slideIn 1.1s ease-out forwards;
}
@keyframes slideIn {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.benefit-cards {
  display: grid;
  gap: 30px;
  font-family: var(--font-nav);
  color: var(--color-black);
}
.benefit-cards .benefits__menu-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.benefit-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 115px;
  z-index: 0;
  align-content: var(--align-content);
}
.benefit-card .benefit-card-content {
  display: flex;
  align-self: start;
  justify-content: space-between;
  gap: 135px;
}
.benefit-card .text-page {
  font-weight: 600;
  color: var(--color-red);
}
.benefit-card .img-benefit-cards {
  max-width: 210px;
  max-height: 210px;
}
.benefit-card .benefits__benefit-card-content {
  max-width: 900px;
  width: 100%;
}
.benefit-card .benefits__benefit-card-content .text-course-name {
  font-weight: 400;
  vertical-align: middle;
  font-size: 32px;
}

.block-about-us-img_1 {
  background: url(/images/photo_1.png);
  grid-column: span 2;
}

.block-about-us-img_2 {
  background: url(/assets/images/photo_2.png) center center/cover;
}

.block-about-us-img_3 {
  background: url(/assets/images/photo_2.1.png), center center/cover;
}

/*# sourceMappingURL=style.css.map */
