.btn {
    padding: 5px 10px;
    background-color: blue;
    border: none;
    color: aqua;
    border-radius: 10px;
    min-width: 120px;
    /*плавность в одну секунду*/
    transition: all 1s;
}

.btn:hover {
    color: black;
    background-color: blue;
}

.btn:active {
    /*цвет на момент клика*/
    color: black;
    background-color: brown;
}

.list__item:nth-child(1) {
    /*можем обращаться так к любому классу ли
     нужно понимать что в середине чего*/
    background-color: blanchedalmond;
}

.list__item:nth-child(1n) {
    /*через один будет 1н*/
    background-color: blanchedalmond;
}

.list__item:last-child {
    /*обратиться к последнему*/
    background-color: blanchedalmond;
}

.list__item:first-child {
    /*обратиться к первому*/
    background-color: blanchedalmond;
}