.btn {
    display: block;
    width: fit-content;
    text-decoration: none;


    color: white;
    background-color: #06B25F;
    max-width: 160px;
    min-height: 42px;

    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    transition: background-color 1s;

}

.btn:hover {
    color: white;
    background-color: #0b9854;
}

.btn:active {
    color: white;
    background-color: #0f874D;
}

.btn__secondary {
    color: white;
    background-color: #06B25F;
    max-width: 160px;
    min-height: 42px;

    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    transition: background-color 1s;

    background: transparent;
    border: 2px solid #06B25F;
}

.btn__secondary:hover {

    background-color: #0b9854;
}

.btn__secondary:active {

    background-color: #0f874D;
}