.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img__card {
    max-width: 440px;
    max-height: 440px;
    border-radius: 160px;
    margin-bottom: 32px;
}

.course-name {
    display: grid;
    grid-template-rows: repeat(1fr);
    align-items: center;
    justify-content: center;
    gap: 4px;

    .text-course {
        text-align: center;
        font-family: var(--font-nav);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-gray);
    }

    .text-course-name {
        text-align: center;
        font-family: var(--font-nav);
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;

        vertical-align: middle;
        color: var(--colot-black);
    }

}




.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 32px;

    .program-courses__menu-button {
        background-color: var(--color-white);

        border: 1px solid #CE091E;

        .button {
            background-color: var(--color-white);
            color: var(--color-red);
        }
    }

}