// лого футера START
.footer__logo {
    display: grid;
    gap: 20px;

    .footer__sub-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

    }

    .footer__img path {
        fill: var(--color-white)
    }

    .footer__name {
        color: var(--color-white);
    }
}



// лого футера END