html {
    scroll-behavior: smooth;
    /* Плавный скролл */
}


#scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: rgb(206, 123, 206);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    z-index: 2;
    text-decoration: none;

}

#scrollTop :hover {
    background-color: #bd74e7;
}

/* Кнопка появляется при секции #courses 
минус не работает во всех браузерах*/
html:has(#courses:target) #scrollTop {
    display: flex;
}