* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #3C3C3C;

    --border-title: 1px solid #BDBDBD;

    --font-texr: "Lato", sans-serif;
    --font-card-name: #282528;
    --font-card-sub-title: #646464;

    --background-color-icon-header: #5DCBE6;
    --background-color-icon-hover: #FFFFFF;

    --background-color-icon-footer: #FFFFFF;
    --background-color-hover-card-footer: #18B5DC;

}



/* HEADER START */
.header.header {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-title);

}

.logo.header__header {
    max-width: 170px;
    margin-right: 206px;
    padding-left: 135px;
}

.nav {
    display: flex;
    gap: 30px;
    margin-right: 246px;
}

.nav.header__header {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-texr);
}



.nav a:hover {
    color: #18B5DC;
    transition: 0.1s;

}

.button.button {
    color: var(--color-text);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: #FFFFFF;
    border: 1px solid #3C3C3C;
    padding: 10px 20px 10px 20px;
    margin-right: 136px;

}

.button:hover {
    background: var(--background-color-hover-card-footer);
    border: 1px solid #18B5DC;
    color: white;
    transition: 0.1s;
}

/* HEADER END */

/* CONTAINER START */

.title-text__container {
    max-width: 570px;
    display: inline;

}

.title {
    display: flex;
    justify-content: center;

    margin: 150px 0 40px 0;
    text-transform: uppercase;
    font-family: var(--font-texr);
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: var(--color-text);
    border-bottom: 5px solid #DDDBDB;

}

.text {

    display: flex;
    justify-content: center;

    font-family: var(--font-texr);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: var(--color-text);
    margin-bottom: 60px;
}

.item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 270px);
    margin: 0 135px 150px 135px;
    gap: 30px;
}

.item__content:hover {
    background-color: #18B5DC;
}

.item__content:hover .item__icons {
    visibility: visible;
    max-height: 1500px;

}

.item__content.item__content--1 {
    background: url(../img-hm-les_05/photo_1.JPG) center center /cover;
}

.item__content.item__content--2 {
    background: url(../img-hm-les_05/photo_2.png)center center /cover;
}

.item__content.item__content--3 {
    background: url(../img-hm-les_05/photo_3.png) center center /cover;
}

.item__content.item__content--4 {
    background: url(../img-hm-les_05/photo_4.png) center center /cover;
}

.item__content {
    position: relative;
}

.item__icons {
    transition: max-height 0.5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    /* visibility: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #18B5DC;
    z-index: 3;
}

.item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #5DCBE6;

}

.item__icon:hover {
    background-color: #FFFFFF;
}

.item__icon:hover path {
    fill: #18B5DC;
}

.item__text__content {
    position: relative;
    bottom: -269px;
    left: 0;
    display: grid;
    margin-top: 19px;
}

.item__text_1 {
    font-family: var(--font-texr);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #282528;
}

.item__text_2 {
    font-family: var(--font-texr);
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #646464;
}

/* CONTAINER END */
.footer {
    max-width: 1440px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo.item__footer {
    margin: 40px 635px 0 635px;
}

.nav.item__footer {
    margin: 28px 528px 28px 528px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--font-texr);
    line-height: 22px;
    font-weight: 500;
}

.footer__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.icon-twitter.footer__icon,
.icon-facebook.footer__icon,
.icon-instagram.footer__icon,
.icon-linkedin.footer__icon,
.icon-telegram.footer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: white;
    border: 1px solid #18B5DC
}

.icon-twitter.footer__icon:hover path,
.icon-facebook.footer__icon:hover path,
.icon-instagram.footer__icon:hover path,
.icon-linkedin.footer__icon:hover path,
.icon-telegram.footer__icon:hover path {
    fill: white;
}

.icon-twitter.footer__icon:hover,
.icon-facebook.footer__icon:hover,
.icon-instagram.footer__icon:hover,
.icon-linkedin.footer__icon:hover,
.icon-telegram.footer__icon:hover {
    background-color: #18B5DC;

}