* {
    /* Reset CSS */
    padding: 0;
    margin: 0;

}

:root {
    /* Fonts */
    --main-font: "Montserrat", sans-serif;

    /* Colors */
    --color-white: #FFFFFF;
    --color-orange: #FF9900;

    --color-title: #2F281E;
    --color-text: #544837;
    --color-border: #BCD0E5;

}

.container {
    max-width: 1200px;
    width: 100%;
}

/* header start */
.header {
    max-width: 1440px;
    width: 100%;
    background-color: var(--color-white);
    padding: 17px 120px 17px 120px;
}

.header__container {
    max-width: 1200px;
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo__header {
    max-width: 200px;
    width: 100%;

    margin: 7px 198px 7px 0px;
}

/* novigetion NAV start */
.nav {
    max-width: 352px;
    width: 100%;



    margin: 9px 198px 9px 0;

    display: flex;
    gap: 20px;
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;

}

.nav a:first-child {
    color: var(--color-orange);
    text-decoration: none;
}

.nav a:not(:first-child) {
    color: var(--color-title);
    text-decoration: none;
}

/* novigetion NAV start */

/*  header button start*/
.buttons.header__container {
    width: 252px;
    width: 100%;
    height: 46px;

}

.button-sing-in,
.button-sing-up {
    border-radius: 4px;

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: var(--main-font);
    padding: 13px 26px 13px 26px;
}

.button-sing-in {
    color: var(--color-white);
    background-color: var(--color-orange);
    margin-right: 32px;

}

.button-sing-up {
    color: var(--color-title);
    border: 1px solid var(--color-border);
    background-color: var(--color-white);

}

/*  headerb button end*/
/* header end*/

/* first-screen START */
.first-screen {
    padding: 70px 120px 0 120px;
}

.first-screen__container {
    display: flex;
    align-items: center;
}

.first-screen__content {
    max-width: 500px;
    margin: 97px 56px 97px 0;
}

.first-screen__img {
    width: 100%;
    max-width: 644px;
}

.title {
    margin: 96px 0px 30px 0;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: var(--color-title);
}

.title-text.first-screen__title {
    margin: 30px 56px 20px 0;
}

.button {
    display: flex;
    max-width: 180px;
    padding: 13px 40px 13px 40px;

    background-color: var(--color-orange);
    color: var(--color-white);


    border-radius: 4px;
}

.button.dutton__first-screen {
    margin: 20px 320px 97px 0;
}

/* first-screen End */

/* features START*/

.features {
    max-width: 1440px;
    width: 100%;


    background-image: url(../homework-lesson_5/img-homework-lessom_5/bg.svg);
    background-position: bottom center;
    background-size: cover;

}

.h2-title.features__title {
    text-align: center;
    max-width: 539px;
    width: 100%;
    max-height: 88px;

    margin: 100px 450px 0 451px;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;


}

.features__row {
    display: flex;
    max-width: 1200px;


    justify-content: space-between;
    margin: 100px 120px 70px 120px;

}

.features__item {
    max-width: 270px;
    text-align: left;
}

.features-icon.features__item {
    margin: 0 220px 30px 0;

}


.h3-title.features__item {

    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;


    color: var(--color-title);
}

.features-text.features__item {
    font-family: var(--main-font);
    color: var(--color-text);

    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    margin-top: 16px;

}

.button.button__features {
    margin: 0 625px 74px 635px;
}

/* features END*/

/* effortless-validation START */
.effortless-validation {
    max-width: 1440px;
    max-height: 510px;
    padding: 100px 120px 0 120px;

}

.container .effortless-validation__container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



.title__container {

    max-width: 525px;
    max-height: 532px;

    padding-top: 20px;
    padding-bottom: 20px;

    margin-right: 113px;
}

.effortless-validation__img {
    max-width: 562px;
    max-height: 573px;
}

.h5-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text);


}

.effortless-validation .title__container h5:nth-of-type(1) {
    margin: 0 324px 0 0;
}

.h5-title .h3-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--color-title);
    margin-right: 130px;
}

.p.effortless-validation-text {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text);
    margin: 20px 130px 40px 0;
}