.special-faq__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-black);


    .title {
        font-family: var(--font-logo);
        font-weight: 500;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -2%;
        vertical-align: middle;
        text-transform: uppercase;
    }
}



.special-faq {


    &__container {

        display: grid;
        gap: 30px;
        cursor: pointer;

        .text-page {
            align-items: center;
            font-weight: 600;
        }

        .special-faq__content {


            display: grid;
            justify-content: space-between;
            align-items: center;
            gap: 0;

        }
    }

}



.special-faq__item {
    border-bottom: 1px solid var(--color-gray);
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    font-family: var(--font-nav);
    font-weight: 400;
    vertical-align: middle;




    .special-faq__question {
        // display: block;
        // align-items: center;
        // justify-content: space-between;

        cursor: pointer;
        padding-top: 32px;

        font-size: 32px;
        line-height: 40px;
        font-weight: bold;

        span.text-page {
            color: var(--color-red);
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            vertical-align: middle;
            margin-right: 94px;

        }

        span.text-title-fag {

            font-weight: 400;
            font-size: 32px;
            line-height: 40px;

            vertical-align: middle;
        }


    }

    .special-faq__answer {

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        font-size: 16px;
        margin-top: 32px;
        text-align: center;
        cursor: pointer;
    }

    .special-faq__input {
        display: none;
    }

    .special-faq__input:checked+.special-faq__answer {
        max-height: 100px;
    }

    .special-faq__input:checked+.special-faq__answer+.toggle-label::after {
        content: "-";
    }

    .toggle-label {
        font-size: 30px;
        cursor: pointer;
    }

    .toggle-label::after {
        content: "+";
        transition: content 0.3s ease;
    }
}

.toggle-label {
    position: relative;
    top: -69px;
    right: -1111px;
}