/* HEADER START */
.header {
    padding: 40px 0;

    .menu__header {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .logo {
            display: flex;
            align-items: flex-start;
            justify-content: left;
            gap: 428px;


        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 42px;


        }

        .nav a {
            text-transform: uppercase;
            text-decoration: none;
            font-family: var(--font-text);
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 30%;
            color: var(--color-black);
        }

    }
}

FLF // @media (max-width:768px) {

.menu-toggle {
    display: none;
}

/* Стили для кнопки-гамбургера */
.hamburger {
    display: none;
    font-size: 10px;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
}


/* Адаптивность */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        /* Показываем кнопку */
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;



        background: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .nav {

        text-decoration: none;
        color: black;
    }

    /* Показываем меню, когда чекбокс активирован */
    .menu-toggle:checked~.nav-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}