.class-h1 {
    color: red;
}

.class-h2 {
    color: blueviolet;
}

.class-h3 {
    color: brown;
}

/* преоритетность класса віше чем у тега, поєтому цвет бцдет синий*/
s .red {
    color: blue;
}

button {
    color: brown;
}

/* класс перебиваеь теги*/
/* айди перебивает классі и  теги*/
/* айди перебивает important/

/* мы пользуемся классами!*/