.footer__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}


.footer__nav-item {
    list-style-type: none;
}

.footer__nav-link {

    font-family: var(--font-nav);
    color: var(--color-white);
    text-decoration: none;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__nav-link:hover {
    color: var(--color-black);

}