.section.the-most-popular {
    margin-top: 90px;


    .img {
        max-width: 570px;
        max-height: 260px;
    }

    .title {
        font-family: var(--font-title);
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}