.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
    max-width: 500px;
    box-shadow: 10px 0px 73px -34px #000;

    &__title {
        margin-bottom: 20px;
    }

    &__row-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;

        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
    }

    &__row-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }
}