@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Red+Hat+Display:wght@400;500;600&display=swap");
:root {
  --font-title: "Red Hat Display", serif;
  --font-text: "Lato", serif;
  --color-black: #000000;
  --color-data-tag: #7B7B7B;
  --color-text: #565656;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 0 145px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 5%;
  color: var(--color-text);
}

.arrow {
  font-size: 23px;
  color: var(--color-data-tag);
}

.hover-link-animation {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: block;
}
@media (max-width: tablet) {
  .hover-link-animation {
    transition: none;
  }
  .hover-link-animation:hover {
    transform: scale(1.1);
  }
}

/* container First--Screen START */
.container.first__screen {
  background: url(/assets/img/bg-image.svg), center center/cover;
}

.title.first__screen {
  padding-bottom: 380px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 5%;
  color: var(--color-black);
}

/* container First--Screen END */
/*  article START */
.section__blog {
  margin-top: 90px;
}
.section__blog .title.blog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 5%;
  color: var(--color-black);
}
.section__blog .content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
.section__blog .content .article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.section__blog .content .article .img {
  max-width: 570px;
  max-height: 470px;
}
.section__blog .content .article .content__info {
  display: block;
  align-content: center;
  margin: 85px 0 85px 0px;
}
.section__blog .content .article .content__info .tag {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 10%;
  color: var(--color-data-tag);
  margin-bottom: 30px;
}
.section__blog .content .article .content__info .title {
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 10%;
  color: var(--color-black);
  margin-bottom: 15px;
}
.section__blog .content .article .content__info .data {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 10%;
  color: var(--color-data-tag);
  margin-bottom: 50px;
}
.section__blog .content__info:nth-child(1) {
  margin-right: 120px;
}
.section__blog .content__info:nth-child(2) {
  margin-left: 120px;
}

/* container article END */
.section.latest_posts {
  margin-top: 90px;
}

.content__title-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content__title-blog .title.blog {
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 10%;
  color: var(--color-black);
}
.content__title-blog .text {
  color: var(--color-data-tag);
}

.content__posts {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.content__posts .post .img {
  max-width: 370px;
  max-height: auto;
  margin-bottom: 25px;
}
.content__posts .post .tag-data__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__posts .post .tag-data__content .data-post {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 19.92px;
  letter-spacing: 10%;
  color: var(--color-data-tag);
  margin-bottom: 26px;
}
.content__posts .post .title {
  font-size: 22px;
  margin-bottom: 20px;
}

.text.content__posts:nth-child(1) {
  margin-bottom: 59px;
}

.text.content__posts:nth-child(2) {
  margin-bottom: 26px;
}

.text.content__posts:nth-child(3) {
  margin-bottom: 37px;
}

.section.the-most-popular {
  margin-top: 90px;
}
.section.the-most-popular .img {
  max-width: 570px;
  max-height: 260px;
}
.section.the-most-popular .title {
  font-family: var(--font-title);
}
.section.the-most-popular .text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section.info {
  margin-top: 90px;
}
.section.info .title {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
}
.section.info text {
  font-size: 19px;
  line-height: 32px;
}

/*  стилизация search START */
.search-form {
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  transition: width 1s ease-in-out;
  overflow: hidden;
}

/* Когда внутри формы что-то в фокусе, расширяем */
.search-form:focus-within {
  max-width: 120px;
}

.search-input {
  opacity: 0;
  /* Изначально скрыто */
  transition: opacity 1s ease-in-out;
  max-width: 84px;
}

/* Когда форма активна, делаем поле видимым */
.search-form:hover .search-input {
  opacity: 1;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon svg {
  stroke: #333;
  transition: stroke 1s;
}

.search-icon:hover svg {
  stroke: #000;
}

/*  стилизация search END*/
.button__load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.button__load-more .btn_load-more {
  width: 180px;
  height: 46px;
  font-family: var(--font-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 10%;
  background-color: #565656;
  color: white;
}

/* HEADER START */
.header {
  padding: 40px 0;
}
.header .menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu__header .logo {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  gap: 428px;
}
.header .menu__header .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
.header .menu__header .nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 30%;
  color: var(--color-black);
}

FLF .menu-toggle {
  display: none;
}

/* Стили для кнопки-гамбургера */
.hamburger {
  display: none;
  font-size: 10px;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}

/* Адаптивность */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    /* Показываем кнопку */
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .nav {
    text-decoration: none;
    color: black;
  }
  /* Показываем меню, когда чекбокс активирован */
  .menu-toggle:checked ~ .nav-menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.footer {
  margin-top: 90px;
  background-color: #F4F4F4;
  padding-bottom: 30px;
}
.footer .post {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 70px 0px 70px 0;
  gap: 30px;
}
.footer .post .title {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #000;
}
.footer .post .text {
  color: #000;
}
.footer .icons__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .icons__footer .icon__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
.footer .icons__footer .icon__footer .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #565656;
  width: 50px;
  height: 50px;
}
.footer .icons__footer .icon__footer .icon:hover {
  background-color: #565656;
}
.footer .icons__footer .icon__footer .icon:hover path {
  fill: #FFFFFF;
}
.footer .end {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

/*# sourceMappingURL=style.css.map */
