//color scss
$color-blue: #007BFF;
$border-color-hover: #BC3F3F;
$color-black: #1C1C1C;
$color-text: #545454;
$color-border: #969696;
$color-white: white;
// color css

:root {
    --color-button: #007BFF;
    --border-color: #BC3F3F;
    --color-text: #545454;
    --color-black: #1C1C1C;
    --color-border: #969696;
}